.family-output { 
    ul { 
        padding-left: 16px;
    }
}

ul { 
    padding:0 24px;
}

.add-btn { 
    margin-top: 36px;
    display: block;
    width: 100%;
    height: calc(100% - 42px);
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid white;
    transition:0.3s ease;
    opacity:0.7;
    font-size:20px;
    min-width:180px;

    &:hover { 
        opacity:1;
        background: rgba(255, 255, 255, 0.5);
        transform:translateY(-5px);
        color:darkred;
        box-shadow: 2px 2px 7px #fff;
    }

    @media (max-width:768px) { 
        margin-top:16px;
        height:auto;
    }
}

.out-list {  
    .btn { 
        margin:16px 12px 0 0 !important;
    }
}

.secret-santa-list { 
    position: relative;

    @media (max-width:768px) { 
       >div { 
        padding: 0;
       } 
}

    .family-list { 
        padding:16px;
        border:1px solid white;
        border-radius:3px;
        position:relative;

        h4 { 
            margin-bottom:16px !important;
        }

        .copy-btn { 
            position:absolute;
            top:16px;
            right:16px;
            display:flex;
            background:none;
            align-items: center;
            color:white;
            border:1px solid white;
            border-radius:3px;
            transition: opacity 0.3s ease-out;
            opacity: 0.6; 
            padding:6px;
    
            &:hover { 
                opacity:1;
            }
        }
    }



    

}