
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


body { 
    background: darkred;
    color:white;
    font-size:16px;
}

background-art { 
    z-index:-1;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}

.btn-primary, .btn-secondary { 
    min-width:180px;
    font-weight:500;
    font-size:1.2rem;
}